
@font-face {
                          font-family: "Arial-BoldItalicMT";
                          src: url('../fonts/Arial Bold Italic.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "Arial-ItalicMT";
                          src: url('../fonts/Arial Italic.ttf') format("truetype");
                        }
                        
.createevent {
  width               : 100%;
  min-width           : 1280px;
  height              : 100vh;
  min-height          : 921px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(236, 143, 106, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.createevent .createyourevent {
  background-color    : rgba(255,255,255,0.0);
  top                 : 161px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 185px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 42.0px;
  color               : rgba(42, 102, 91, 1.0);
  text-align          : center;
  line-height         : 48.0px;
}
.createevent .rectangle {
  background-color    : rgba(126, 207, 192, 1.0);
  top                 : 786px;
  height              : 65px;
  width               : 326px;
  position            : absolute;
  margin              : 0;
  left                : 514px;
  border-radius       : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.createevent .submitform {
  background-color    : rgba(255,255,255,0.0);
  top                 : 798px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 571px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(239, 75, 75, 1.0);
  text-align          : center;
  line-height         : 42.0px;
}
.createevent .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 292px;
  height              : 3px;
  width               : 508px;
  position            : absolute;
  margin              : 0;
  left                : 132px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.createevent .inputtex {
  background-color    : rgba(255,255,255,0.0);
  top                 : 243px;
  height              : auto;
  width               : 194px;
  position            : absolute;
  margin              : 0;
  left                : 132px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial-ItalicMT", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(97, 94, 94, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.createevent .inputtex1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 243px;
  height              : auto;
  width               : 194px;
  position            : absolute;
  margin              : 0;
  left                : 132px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial-ItalicMT", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(97, 94, 94, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.createevent .inputtex2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 327px;
  height              : auto;
  width               : 194px;
  position            : absolute;
  margin              : 0;
  left                : 132px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial-ItalicMT", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(97, 94, 94, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.createevent .inputtex3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 327px;
  height              : auto;
  width               : 194px;
  position            : absolute;
  margin              : 0;
  left                : 132px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial-ItalicMT", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(97, 94, 94, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.createevent .line1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 393px;
  height              : 2px;
  width               : 509px;
  position            : absolute;
  margin              : 0;
  left                : 131px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.createevent .inputtex4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 413px;
  height              : auto;
  width               : 194px;
  position            : absolute;
  margin              : 0;
  left                : 132px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial-ItalicMT", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(97, 94, 94, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.createevent .inputtex5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 410px;
  height              : auto;
  width               : 194px;
  position            : absolute;
  margin              : 0;
  left                : 407px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial-ItalicMT", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(97, 94, 94, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.createevent .inputtex6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 339px;
  height              : auto;
  width               : 194px;
  position            : absolute;
  margin              : 0;
  left                : 743px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial-ItalicMT", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(97, 94, 94, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.createevent .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 479px;
  height              : 2px;
  width               : 203px;
  position            : absolute;
  margin              : 0;
  left                : 131px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.createevent .line3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 479px;
  height              : 2px;
  width               : 234px;
  position            : absolute;
  margin              : 0;
  left                : 407px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.createevent .inputtex7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 504px;
  height              : auto;
  width               : 194px;
  position            : absolute;
  margin              : 0;
  left                : 133px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial-ItalicMT", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(97, 94, 94, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.createevent .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 550px;
  height              : 188px;
  box-sizing          : border-box;
  width               : 509px;
  position            : absolute;
  margin              : 0;
  left                : 133px;
  border-style        : solid;
  border-width        : 3px;
  border-color        : rgba(0, 150, 136, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.createevent .rectangle2 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 533px;
  height              : 214px;
  box-sizing          : border-box;
  width               : 396px;
  position            : absolute;
  margin              : 0;
  left                : 769px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.createevent .uploadapicture {
  background-color    : rgba(255,255,255,0.0);
  top                 : 622px;
  height              : auto;
  width               : 215px;
  position            : absolute;
  margin              : 0;
  left                : 861px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial-ItalicMT", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(0, 0, 0, 0.87);
  text-align          : left;
  line-height         : 32.0px;
}
.createevent .outputonlinepngtools {
  background-color    : rgba(255,255,255,0.0);
  top                 : 95px;
  height              : 168px;
  width               : 142px;
  position            : absolute;
  margin              : 0;
  left                : 769px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.createevent .andrewyan {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1105px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 28.0px;
  color               : rgba(126, 207, 192, 1.0);
  text-align          : center;
  line-height         : 32.0px;
}
.createevent .rectangle3 {
  background-color    : rgba(239, 75, 75, 0.9);
  top                 : 0px;
  height              : 56px;
  width               : 1280px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.createevent .andrewyan1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1105px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 28.0px;
  color               : rgba(126, 207, 192, 1.0);
  text-align          : center;
  line-height         : 32.0px;
}
.createevent .eventgo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : 347px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 45.0px;
  color               : rgba(126, 207, 192, 1.0);
  text-align          : center;
  line-height         : 52.0px;
}
.createevent .eventgo1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 157px;
  height              : auto;
  width               : 347px;
  position            : absolute;
  margin              : 0;
  left                : 875px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 70.0px;
  color               : rgba(126, 207, 192, 1.0);
  text-align          : center;
  line-height         : 45.0px;
}
.createevent .eventgo1 .span1 {
  color               : rgba(0, 0, 0, 1.0);
  line-height         : 80.0px;
}
.createevent .eventgo1 .span2 {
  font-size           : 45.0px;
  color               : rgba(0, 0, 0, 1.0);
  line-height         : 52.0px;
}
.createevent .outputonlinepngtools1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 56px;
  width               : 47px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.createevent .parades {
  background-color    : rgba(255,255,255,0.0);
  top                 : 398px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1081px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 31.0px;
  color               : rgba(42, 102, 91, 1.0);
  text-align          : center;
  line-height         : 31.0px;
}
.createevent .parades .span1 {
  line-height         : 36.0px;
}
.createevent .parades .span2 {
  font-size           : 32.0px;
  line-height         : 37.0px;
}
.createevent .rectangle4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 383px;
  height              : 58px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 1017px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.createevent .rectangle5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 458px;
  height              : 58px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 753px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.createevent .fundraisers {
  background-color    : rgba(255,255,255,0.0);
  top                 : 470px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 818px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 31.0px;
  color               : rgba(42, 102, 91, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.createevent .fundraisers .span1 {
  line-height         : 36.0px;
}
.createevent .fundraisers .span2 {
  font-size           : 32.0px;
  line-height         : 37.0px;
}
.createevent .rectangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 385px;
  height              : 58px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 753px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.createevent .musicartists {
  background-color    : rgba(255,255,255,0.0);
  top                 : 397px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 818px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 31.0px;
  color               : rgba(42, 102, 91, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.createevent .musicartists .span1 {
  line-height         : 36.0px;
}
.createevent .musicartists .span2 {
  font-size           : 32.0px;
  line-height         : 37.0px;
}
.createevent .rectangle7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 454px;
  height              : 58px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 1017px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.createevent .protests {
  background-color    : rgba(255,255,255,0.0);
  top                 : 466px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1082px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 31.0px;
  color               : rgba(42, 102, 91, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.createevent .protests .span1 {
  line-height         : 36.0px;
}
.createevent .protests .span2 {
  font-size           : 32.0px;
  line-height         : 37.0px;
}
.createevent .outputonlinepngtools2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 461px;
  height              : 40px;
  width               : 53px;
  position            : absolute;
  margin              : 0;
  left                : 1021px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.createevent .outputonlinepngtools3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 394px;
  height              : 35px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 1028px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.createevent .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 396px;
  height              : 31px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 765px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.createevent .dollarsigntransparentbackground3926 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 467px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 765px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}