
@font-face {
                          font-family: "Arial-BoldItalicMT";
                          src: url('../fonts/Arial Bold Italic.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "Arial-ItalicMT";
                          src: url('../fonts/Arial Italic.ttf') format("truetype");
                        }
                        
.login {
  width               : 100%;
  min-width           : 1280px;
  height              : 100vh;
  min-height          : 921px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(236, 143, 106, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.login .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 457px;
  height              : 2px;
  width               : 328px;
  position            : absolute;
  margin              : 0;
  left                : 208px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .inputtex {
  background-color    : rgba(255,255,255,0.0);
  top                 : 433px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 208px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial-ItalicMT", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(97, 94, 94, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.login .line1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 400px;
  height              : 2px;
  width               : 328px;
  position            : absolute;
  margin              : 0;
  left                : 208px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .inputtex1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 376px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 208px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial-ItalicMT", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(97, 94, 94, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.login .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 515px;
  height              : 2px;
  width               : 328px;
  position            : absolute;
  margin              : 0;
  left                : 208px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .line3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 481px;
  height              : 2px;
  width               : 328px;
  position            : absolute;
  margin              : 0;
  left                : 743px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .inputtex2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 491px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 208px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial-ItalicMT", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(97, 94, 94, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.login .line4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 573px;
  height              : 2px;
  width               : 328px;
  position            : absolute;
  margin              : 0;
  left                : 208px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .inputtex3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 549px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 208px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial-ItalicMT", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(97, 94, 94, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.login .line5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 626px;
  height              : 2px;
  width               : 328px;
  position            : absolute;
  margin              : 0;
  left                : 208px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .inputtex4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 602px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 208px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial-ItalicMT", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(97, 94, 94, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.login .signup {
  background-color    : rgba(255,255,255,0.0);
  top                 : 295px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 289px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 41.0px;
  color               : rgba(0, 0, 0, 0.87);
  text-align          : left;
  line-height         : 47.0px;
}
.login .login3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 304px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 857px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 41.0px;
  color               : rgba(0, 0, 0, 0.87);
  text-align          : left;
  line-height         : 47.0px;
}
.login .line21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 267px;
  height              : 523px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 637px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .line6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 423px;
  height              : 2px;
  width               : 328px;
  position            : absolute;
  margin              : 0;
  left                : 744px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .inputtex5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 399px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 744px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial-ItalicMT", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(97, 94, 94, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.login .inputtex6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 457px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 744px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial-ItalicMT", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(97, 94, 94, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.login .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 592px;
  height              : 41px;
  width               : 253px;
  position            : absolute;
  margin              : 0;
  left                : 774px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 651px;
  height              : 40px;
  width               : 253px;
  position            : absolute;
  margin              : 0;
  left                : 773px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 655px;
  height              : 20px;
  box-sizing          : border-box;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 208px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .bycheckingthisbox {
  background-color    : rgba(255,255,255,0.0);
  top                 : 652px;
  height              : auto;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 240px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 0.87);
  text-align          : left;
  line-height         : 18.0px;
}
.login .rectangle1 {
  background-color    : rgba(126, 207, 192, 1.0);
  top                 : 501px;
  height              : 33px;
  width               : 163px;
  position            : absolute;
  margin              : 0;
  left                : 818px;
  border-radius       : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .login1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 507px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 875px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
.login .rectangle2 {
  background-color    : rgba(126, 207, 192, 1.0);
  top                 : 501px;
  height              : 33px;
  width               : 163px;
  position            : absolute;
  margin              : 0;
  left                : 818px;
  border-radius       : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .login2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 507px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 875px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
.login .or {
  background-color    : rgba(255,255,255,0.0);
  top                 : 552px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 898px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial-ItalicMT", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
.login .rectangle3 {
  background-color    : rgba(126, 207, 192, 1.0);
  top                 : 704px;
  height              : 33px;
  width               : 163px;
  position            : absolute;
  margin              : 0;
  left                : 291px;
  border-radius       : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .signup1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 710px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 336px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
.login .eventgo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 138px;
  height              : auto;
  width               : 393px;
  position            : absolute;
  margin              : 0;
  left                : 535px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 78.0px;
  color               : rgba(126, 207, 192, 1.0);
  text-align          : center;
  line-height         : 91.0px;
}
.login .andrewyan {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1104px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 28.0px;
  color               : rgba(126, 207, 192, 1.0);
  text-align          : center;
  line-height         : 32.0px;
}
.login .rectangle4 {
  background-color    : rgba(239, 75, 75, 0.9);
  top                 : 0px;
  height              : 56px;
  box-sizing          : border-box;
  width               : 1280px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .home {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1180px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 28.0px;
  color               : rgba(126, 207, 192, 1.0);
  text-align          : center;
  line-height         : 32.0px;
}
.login .eventgo1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : 347px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 45.0px;
  color               : rgba(126, 207, 192, 1.0);
  text-align          : center;
  line-height         : 52.0px;
}
.login .outputonlinepngtools {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : 58px;
  width               : 49px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .outputonlinepngtools1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 59px;
  height              : 236px;
  width               : 199px;
  position            : absolute;
  margin              : 0;
  left                : 388px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}